body{
    background-color: lightgray;
}
form{
    margin-left: 40%;
}
#addBtn{
    margin-left: 10%;
}

.todo{
    box-sizing: border-box;
    border-radius: .3cm;
    width: 90%;
    background-color: cyan;
    padding: .5cm;
    margin: .25cm;
    cursor: pointer;
}
.todo h3{
    margin: 0em;
}

.todo p{
    margin: 0em;
}
.completed{
    opacity: 50%;
    border-radius: .3cm;
    margin-left: .2cm;
    background-color: limegreen;
}

#completed-items{
    border: .2cm solid black;
    float: right;
    width: 48.5%;
}
#incompleted-items{
    border: .2cm solid black;
    float: left;
    width: 48.5%;

}

#txt1,#txt2,#txt3{
    text-align: center;
    font: bolder;
}
#validation-summary{
    color: darkred;
    list-style-type: square;
}

